:root {
    --nav-background: #f2a365;
    --text-color: #222831;
    --text-secondary: #30475e;
    --light: #ececec;
    --main-heading-font: 'Righteous', cursive;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Prompt', sans-serif;
}

/* navbar */
nav {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 18%;
    transition: 0.4s;
    background-color: var(--nav-background);
    text-align: left;
}

#navbar .nav-link {
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 1.3rem;
    padding: 0 0 2% 5%;
}

#navbar .nav-link:hover {
    border-left: 2px solid var(--text-secondary);
}

#backBtn {
    position: absolute;
    color: var(--text-secondary);
    font-size: 3.5rem;
    top: 0%;
    right: 5%;
    cursor: pointer;
}

#navToggle {
    cursor: pointer;
    margin-left: 2%;
}

/* heading */
.heading {
    display: flex;
    width: 100%;
    background-color: var(--text-color);
    color: var(--light);
    position: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 4px solid var(--nav-background);
}

.heading h1 {
    margin: 0 auto;
}

/* header */
header {
    font-size: 2rem;
}

code {
    width: auto;
    display: block;
    text-align: center;
    font-family: monospace;
    padding: 0.5rem;
    background-color: #f2a36590;
    border-left: 2px solid var(--text-secondary);
}

/* main document styles */
#main-doc {
    padding: 10% 10% 5%;
    margin: 0 auto;
    margin: 0 5% 0 5%;
}

.main-section {
    font-family: 'Prompt', sans-serif;
    font-size: 1.3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid var(--text-secondary);
    text-align: left;
    margin: 0 auto;
}

/* Media queries */
@media screen and (min-width: 800px) {
    #main-doc {
        display: block;
        width: 650px;
        margin: 0 auto;
        padding: 5% 0% 0 2%;
    }

    .main-section {
        padding-bottom: 2.5rem;
    }

    nav {
        padding-top: 5%;
    }
}

@media screen and (min-width: 920px) {
    #main-doc {
        padding: 7% 20% 20% 5%;
        margin: 0 auto;
        width: 820px;
        margin: 0 auto;
    }
}